.responstable {
    margin: 4px;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.responstable td {
    display: table-cell;
    text-align: center;
    max-width: 7em;
    border: 1px solid #D9E4E6;
    padding: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.popup-wrapper {
    width: 400px;
    position: absolute;
    top: 25%;
    left: calc(50% - 200px);
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
    border: none;
}

input:checked + p {
    background: #f9f9f9;
}

input[type="checkbox"] {
    margin: 10px 15px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-size: 16px;
    border-left: 1px solid #d1e2ff;
}