.table-wrapper {
    position: relative;
}

.btn {
    position: absolute;
    top: 1px;
    right: 0;
    background-color: rgba(37, 166, 189, 0.74);
    border: 1px solid #1b4d56;
    color: white;
}

.btn:hover {
    background-color: #1b4d56;
}

.btn:focus {
    outline: none;
}

.responstable {
    margin: 4px;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.responstable td {
    display: table-cell;
    text-align: center;
    max-width: 7em;
    border: 1px solid #D9E4E6;
    padding: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    height: 40px;
}

.popup-wrapper {
    width: 260px;
    position: absolute;
    top: 33px;
    right: 0;
    background: white;
    border: 1px solid black;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    /*max-height: 40px;*/
    line-height: 1;
}

.item:last-child {
    border: none;
}

input:checked + p {
    background: #f9f9f9;
}

input[type="checkbox"] {
    margin: 10px 15px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-size: 16px;
    border-left: 1px solid #d1e2ff;
}